{% include base_path %}

{% if site.author.github or site.author.bitbucket or site.atom_feed.hide != true %}
<div class="page__footer-follow">
  <ul class="social-icons">
  </ul>
</div>
{% endif %}

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.<br />
  Site last updated {{ "now" | date: '%Y-%m-%d' %}}
</div>

<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_uv" style="display: inline-block; margin-right: 10px;">
  Total Visitors: <span id="busuanzi_value_site_uv"></span>
</span>
<span id="busuanzi_container_site_pv">
  Total Visits: <span id="busuanzi_value_site_pv"></span>
</span>